<ion-view view-title="Weekly Calendar" name="weekly-calendar-view" ng-controller='AppCtrl'>
  <ion-content class="padding">
      <div style="width: 99%; height:45%; background-color:#f4f4f4">
        <div class="row" ng-repeat="week in weeks">
          <div class="col-20 col-offset-10" ng-repeat="row in week.row">
            <button class="button button-block">{{row}}</button>
          </div>
        </div>
        <button class="button icon-left ion-chevron-left button-stable" ng-click='previous()'></button>
        <button class="button icon-left ion-chevron-right button-stable" ng-click='next()'></button>
      </div>
  </ion-content>
</ion-view>
